/* base variables and layout */
.search {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  background: var(--background);
  color: var(--foreground);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 1rem;
  border-bottom: var(--border);
}

.title {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
}
.title_alt {
  color: var(--accent);
  background-color: var(--foreground);
  padding: 0 0.2rem;
}

/* direct address toggle */
.toggle {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  font-weight: 600;
}

.toggle input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: #000;
}

/* form sections */
.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: row nowrap;
  gap: 1rem;
  align-items: center;
}
/* labels */
.label {
  font-size: 1rem;
  font-weight: 700;
}

/* text input */
.input {
  font-size: 1rem;
  padding: 0.75rem;

  background: transparent;
  color: inherit;
  border: var(--border);
  box-shadow: 3px 3px 0 #000;
}

.input:focus {
  outline: none;
}

/* range input */
.range {
  width: 100%;
  height: 2px;

  appearance: none;
  background: #000;
}

.range::-webkit-slider-thumb {
  appearance: none;

  width: 24px;
  height: 24px;

  background: #fff;
  border: var(--border);
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 3px 3px 0 #000;
}

.range::-moz-range-thumb {
  width: 24px;
  height: 24px;

  border-radius: 100%;
  background: #fff;
  border: var(--border);
  cursor: pointer;
}

/* buttons */
.button {
  align-self: flex-start;

  font-size: 1rem;
  font-weight: 500;

  padding: 0.75rem 1.25rem;

  background: #000;
  color: #fff;
  border: var(--border);
  cursor: pointer;
}

.button:hover {
  background: #fff;
  color: #000;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
