:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #7efc68;
  --border: 2px solid #000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
