:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #7efc68;
  --border: 2px solid #000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
