@use "sass:map";

$font-baseurl: "fonts/";

@mixin font-face(
  $font-name,
  $font-directory,
  $font-filename,
  $font-style,
  $font-weight
) {
  @font-face {
    font: {
      family: $font-name;
      weight: $font-weight;
      style: $font-style;
      display: swap;
    }
    src: //url($font-baseurl + "#{$font-directory}/" + $font-filename + ".woff") format(".woff"),
            //url($font-baseurl + "#{$font-directory}/" + $font-filename + ".woff2") format("woff2"),
            url($font-baseurl + "#{$font-directory}/" + $font-filename + ".ttf") format("truetype"),
    //url($font-baseurl + "#{$font-directory}/" + $font-filename + ".svg?#webfont") format("svg"),
    //url($font-baseurl + "#{$font-directory}/" + $font-filename + ".eot"),
    //url($font-baseurl + "#{$font-directory}/" + $font-filename + ".eot?#iefix") format("embedded-opentype");
  }
}

@include font-face("Inter", "inter", "Inter-variable", regular, 100 1000);
$grey: #617575;
$green: (
        "600": #264653,
        "400":#217D72,
        "300": #75CCB5,
);
$red: #E76F51;
$orange: #F4A261;
$yellow: (
        "500": #F2BC2B,
        "100": #FCF8ED,
);
$white: #FFFFFF;

// Global Styles
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: map.get($green, "600");
  background: $white;
  font-family: 'Inter', sans-serif;
}

// Typography
p {
  font-size: clamp(1rem, 0.9721rem + 0.1274vw, 1.125rem);
  font-weight: 400;
}

strong {
  font-weight: 600;
}

h1 {
  font-size: clamp(1.5rem, 1.3885rem + 0.5096vw, 2rem);
  font-weight: 600;
}

h2 {
  font-size: clamp(1.25rem, 1.1385rem + 0.5096vw, 1.75rem);
  font-weight: 600;
}

// Main styles
.site-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  width: 100%;
  padding: 16px;

  &__title {
    margin: 0;
  }

  &__nav {
    margin-left: auto
  }
}

main {
  padding: 24px;
}

section {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 16px;

  & h2 {
    width: 100%;
    margin: 0 0 16px;
    color: map.get($green, "600");
    font-weight: 700;

    & span {
      color: $grey;
      font-weight: 500;
    }
  }

  &.gelocalization {
    & .geolocalization {

      &__founded-place {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;

        & figure {
          margin: 0;
          padding: 0 16px;
        }

        & > div {
          padding: 16px;
          width: 100%;
        }

        & h3{
          margin: 0;
        }
      }


      &__toggler {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;

        & p {
          margin: 6px 0;
          font: {
            weight: 600;
          }

          &.toggle-link {
            border-bottom: 2px solid map.get($green, "600")
          }
        }

      }

      &__loading {
        padding: 16px;
        width: 100%;

        & h2 {
          text-align: center
        }
      }
    }
  }

  &.distance {
    & .p-slider {
      margin: 64px 24px 32px 24px;
    }

    & .distance__radio-input {
      display: flex;
      align-items: center;
      margin: 12px auto;
      gap: 8px;

      & button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: map.get($green, "400");
        border-radius: 100%;
        border: 4px solid $white;
        color: $white;
        font-size: 20px;
      }

      & input {
        padding: 0;
        width: auto;
        background: transparent;
        border: none;
        border-bottom: 2px solid map.get($green, "600");
        color: map.get($green, "600");
        font: {
          size: 1.25rem;
          weight: 600;
        }
        text-align: center;
      }

      & span {
        padding-bottom: 6px;
        margin-left: -4px;
        color: map.get($green, "600");
        font: {
          size: 1.25rem;
          weight: 600;
        }
      }
    }

  }
}

// Custom component styles
.p-divider {
  margin: 16px 0;

  &::before {
    height: 1px;
    border: 0;
    background-color: #3D405B;
  }

  & span {
    padding: 4px 8px;
    border-radius: 8px;
    background: #3D405B;
    color: #FEFEFD;
    font-size: clamp(0.75rem, 0.6664rem + 0.3822vw, 1.125rem);
    box-shadow: 0 0 0 8px #fff;
  }
}

.p-button {
  width: 100%;
  padding: 16px 20px;
  border: 2px solid map.get($green, "400");
  border-radius: 16px;
  background: map.get($green, "400");
  color: $white;
  font: {
    family: "Inter";
    size: clamp(1rem, 0.9721rem + 0.1274vw, 1.125rem);
    weight: 600;
  }

  &.search-button {
    margin: 16px;
    width: calc(100% - 32px);
    background-color: $orange;
    color: map.get($green, "600");
    box-sizing: border-box;
  }
}

.p-inputtext {
  padding: 8px 12px;
  width: 100%;
  border: 1px solid $grey;
  border-radius: 8px;
  font: {
    size: clamp(1rem, 0.9721rem + 0.1274vw, 1.125rem);
    weight: 400
  }
}

.p-dropdown {
  width: 100%;

  &-label {

  }

  &-panel {
    padding: 16px;
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 8px;
  }

  &-items {
    padding-top: 12px;
  }

  &-item {
    padding: 4px 0;
  }
}

.p-slider {
  margin: 32px 0;
  width: 100%;
  height: 16px;
  border: 2px solid map.get($green, "600");
  border-radius: 16px;
  box-sizing: content-box;
  background-color: transparent;

  &-range {
    height: 16px;
    border-radius: 8px;
    background-color: map.get($green, "400");
  }

  &-horizontal {
    & .p-slider-handle {
      top: -64px;
      margin-left: -24px;
      width: 48px;
      height: 60px;
      background-image: url("./images/marker-distance.svg");
      background-size: 48px 60px;
    }
  }

}

.p-inputnumber {
  &-buttons-horizontal {
    & .p-button {
      &.p-inputnumber-button-up, &.p-inputnumber-button-down {
        padding: 0;
        width: 48px;
        height: 48px;
        border: {
          top-right-radius: 100%;
          top-left-radius: 100%;
          bottom-right-radius: 100%;
          bottom-left-radius: 100%;
        }
        color: $white;
      }
    }

    & .p-inputtext {
      width: 80px;
      background-color: transparent;
      border: none;
      color: map.get($green, "600");
      font: {
        weight: 600;
      }
      text-align: center;
    }
  }
}